0.565

.frame {
  display: flex;
  flex-direction: column;
}

.DesignOverall {
  position: absolute;
  overflow-x: hidden;
  width: 3390px;
  top: 1513px;
}

.DesignDetail {
  position: absolute;
  top: 4390px;
  left: 150px;
}

.pixel {
  position: absolute;
  opacity: 0.3;
  top: 8px;
  left: 7px;
}

.Contenu {
  position: absolute;
  top: 106px;
  width: 543px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17pt;
  line-height: 1.2;
  color: antiquewhite;
}

.Contenu2 {
  position: absolute;
  top: 106px;
  left: 567px;
  width: 543px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17pt;
  line-height: 1.2;
  color: antiquewhite;
}

.Titre {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 29pt;
  line-height: 1.2;
  width: 1000px;
  color: antiquewhite;
}

.Titre2 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 29pt;
  line-height: 1.2;
  position: absolute;
  left: 568px;
  width: 1000px;
  color: antiquewhite;
}

.Overview {
  position: absolute;
  top: 1634px;
  left: 61px;
}

.Detail {
  position: absolute;
  top: 3651px;
  left: 61px;
}

.Map {
  position: absolute;
  top: 6675px;
  left: 1763px;
}

.Carte {
  position: absolute;
  top: 5780px;
  left: 61px;
}

.DesignersQuantity {
  position: absolute;
  top: 8803px;
  left: 637px;
}

.Designers {
  position: absolute;
  top: 9028px;
  left: 61px;
}

.Acquisition {
  position: absolute;
  top: 1674px;
  left: 30px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 34pt;
  color: antiquewhite;
}

.Creation {
  position: absolute;
  top: 1338px;
  left: 30px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 34pt;
  color: antiquewhite;
}

.Total {
  position: absolute;
  top: 10484px;
  left: 61px;
}

.TotalDesigners {
  position: absolute;
  top: 10374px;
  left: 1760px;
}

.merci {
  position: absolute;
  top: 12053px;
  left: 1760px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 69pt;
  line-height: 1.2;
  width: 1000px;
  color: antiquewhite;
}

.logo {
  position: absolute;
  top: 61px;
  left: 62px;
}

.widmer {
  position: absolute;
  top: 730px;
  left: 61px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 17pt;
  line-height: 1.2;
  width: 1000px;
  color: antiquewhite;
}

.centre {
  position: absolute;
  top: 32px;
  left: 1195px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 99pt;
  line-height: 1.2;
  width: 1300px;
  color: antiquewhite;
}

.titre {
  position: absolute;
  top: 388px;
  left: 1764px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32pt;
  line-height: 1.2;
  width: 1300px;
  color: antiquewhite;
}

.nom {
  position: absolute;
  top: 1064px;
  left: 1195px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32pt;
  line-height: 1.2;
  width: 1300px;
  color: antiquewhite;
}
