body {
  position: absolute;
  left: var(--left-position);
  top: var(--top-position);
  background-color: #1c1d1f;
  transform-origin: top left;
  width: 100%;
  height: 100%;
  transform: scale(var(--scale-factor));
}

/* Default values for large screens */
:root {
  --scale-factor: 0.9;
  --left-position: 200px;
  --top-position: 0;
}

/* Medium screens */
@media (max-width: 1920px) {
  :root {
    --scale-factor: 0.76;
    --left-position: 55px;
    --top-position: 0;
  }
}

/* Medium screens */
@media (max-width: 1440px) {
  :root {
    --scale-factor: 0.594;
    --left-position: 2px;
    --top-position: 0;
  }
}

/* Medium screens */
@media (max-width: 1024px) {
  :root {
    --scale-factor: 0.41;
    --left-position: 2px;
    --top-position: 0;
  }
}

/* Small screens */
@media (max-width: 768px) {
  :root {
    --scale-factor: 0.4;
    --left-position: 10px;
    --top-position: 0;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  :root {
    --scale-factor: 0.3;
    --left-position: 50px;
    --top-position: 0;
  }
}

.frame {
  display: flex;
  flex-direction: column;
}

.DesignOverall {
  position: absolute;
  overflow-x: hidden;
  width: 3390px;
  top: 836px;
  z-index: 1000;
}

.DesignDetail {
  position: absolute;
  top: 3757px;
  left: -47px;
  z-index: 1000;
}

.texttotal {
  position: relative;
  top: -677px;
  z-index: 500;
}

.pixel {
  position: absolute;
  opacity: 0.3;
  top: 8px;
  left: 7px;
}

.Contenu {
  position: absolute;
  top: 106px;
  width: 543px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17pt;
  line-height: 1.2;
}

.Contenu2 {
  position: absolute;
  top: 106px;
  left: 567px;
  width: 543px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17pt;
  line-height: 1.2;
}

.Titre {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 29pt;
  line-height: 1.2;
  width: 1000px;
}

.Titre2 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 29pt;
  line-height: 1.2;
  position: absolute;
  left: 568px;
  width: 1000px;
}

.Overview {
  position: absolute;
  top: 1634px;
  left: 61px;
  color: #e7ddcd;
}

.Detail {
  position: absolute;
  top: 3651px;
  color: #e7ddcd;
  left: 61px;
}

.Map {
  position: absolute;
  top: 6675px;
  color: #e7ddcd;
  left: 1763px;
}

.Carte {
  position: absolute;
  top: 5316px;
  left: 61px;
  z-index: 100;
}

.DesignersQuantity {
  position: absolute;
  top: 8131px;
  left: 637px;
}

.Designers {
  position: absolute;
  top: 8698px;
  color: #e7ddcd;
  left: 61px;
}

.Acquisition {
  position: absolute;
  top: 1674px;
  left: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 34pt;
  color: #e7ddcd;
}

.Creation {
  position: absolute;
  top: 1338px;
  left: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 34pt;
  color: #e7ddcd;
}

.Total {
  position: absolute;
  top: 9755px;
  left: 3px;
  transform: scale(0.95);
  z-index: 1000;
}

.TotalDesigners {
  position: absolute;
  color: #1c1d1f;
  top: 10381px;
  left: 1762px;
}

/* .merci {
  position: absolute;
  top: 12053px;
  left: 1760px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 69pt;
  line-height: 1.2;
  width: 1000px;
  color: antiquewhite;
} */

.logo {
  position: absolute;
  top: 61px;
  left: 62px;
}

/* .widmer {
  position: absolute;
  top: 730px;
  left: 61px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 17pt;
  line-height: 1.2;
  width: 1000px;
  color: antiquewhite;
} */

.centre {
  position: absolute;
  top: 39px;
  left: 22px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 25em;
  line-height: 1.2;
  width: 1300px;
  color: #231f20;
  font-weight: 900;
}

.titre {
  position: absolute;
  top: 505px;
  left: 1198px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 38pt;
  line-height: 1.2;
  width: 1300px;
  color: #231f20;
}

/* .nom {
  position: absolute;
  top: 1064px;
  left: 1195px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32pt;
  line-height: 1.2;
  width: 1300px;
  color: antiquewhite;
} */

.info_line {
  top: 3595px;
  left: 1381px;
  position: relative;
  color: antiquewhite;
  font-family: "Jost", sans-serif;
  font-size: 17pt;
}

.header_background {
  background-color: #e7ddcd;
  width: 2349px;
  left: 8px;
  height: 719px;
}

.map_background {
  position: relative;
  background-color: #e7ddcd;
  width: 2349px;
  height: 1179px;
  left: 8px;
  top: 6034px;
}

.total_background {
  position: relative;
  background-color: #e7ddcd;
  width: 2349px;
  height: 2019px;
  top: 7694px;
  left: 8px;
}

.legend {
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: -2329px;
  width: 1425px;
  height: 148px;
  z-index: 20;
  margin-left: 39px;
  padding-bottom: 10px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  color: #e7ddcd;
}

.element_texte {
  display: flex;
  align-items: center;
  margin: 2px;
  width: auto;
}

.typeDesign {
  display: flex;
  padding-left: 0px;
}

.categorie {
  display: flex;
  flex-direction: column;
  height: 132px;
  width: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.element_texte {
  display: flex;
  align-items: center;
  margin: 2px;
  width: auto;
}

.categorieshape {
  display: flex;
  flex-direction: column;
  height: 132px;
  margin-top: 6px;
}

.element_ligne_1 {
  margin-top: 20px;
  background-color: #266af1;
  height: 5px;
  width: 25px;
}

.element_ligne1 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #91a879;
}

.element_ligne2 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #c6bca2;
}

.element_ligne3 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #da3035;
}

.element_ligne4 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #8d2438;
}

.element_ligne5 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #e7a02c;
}

.element_ligne6 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #83b7ca;
}

.element_ligne7 {
  margin-top: 25px;
  height: 7px;
  width: 27px;
  background-color: #1a4d8b;
}
