.graph {
  position: relative;
  display: flex;
  top: 1000px;
}

#body {
  z-index: 20;
  position: absolute;
  top: -100px;
  left: -70px;
}

.DecadeBarChartContainer {
  border: solid 0px black;
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: -854px;
  left: 86px;
  z-index: 10;
  width: 3204px;
  /* 2204 is the width of the graph */
  gap: 7px;
}

.CreationDecadeQuantity {
  border: solid 0px black;
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  z-index: 12;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  /* left: 90px; */
  width: 3204px;
  /* gap: 165px; */
  color: #635c58;
  top: 320px;
}

.DecadeBarChart1 {
  background-color: #2a2626;
  width: 189px;
  height: 48px;
}
.Chart1 {
  position: relative;
  top: -48px;
  padding-left: 175px;
}
.DecadeBarChart2 {
  background-color: #2a2626;
  width: 171px;
  height: 43px;
}
.Chart2 {
  position: relative;
  top: -43px;
  padding-left: 165px;
}
.DecadeBarChart3 {
  background-color: #2a2626;
  width: 172px;
  height: 241px;
}
.Chart3 {
  position: relative;
  top: -241px;
  padding-left: 156px;
}
.DecadeBarChart4 {
  background-color: #2a2626;
  width: 171px;
  height: 284px;
}
.Chart4 {
  position: relative;
  top: -284px;
  padding-left: 145px;
}
.DecadeBarChart5 {
  background-color: #2a2626;
  width: 172px;
  height: 92px;
}
.Chart5 {
  position: relative;
  padding-left: 158px;
  top: -92px;
}
.DecadeBarChart6 {
  background-color: #2a2626;
  width: 172px;
  height: 455px;
}
.Chart6 {
  position: relative;
  padding-left: 153px;
  top: -455px;
}
.DecadeBarChart7 {
  background-color: #2a2626;
  width: 171px;
  height: 1076px;
}
.Chart7 {
  position: relative;
  padding-left: 146px;
  top: -1076px;
}
.DecadeBarChart8 {
  background-color: #2a2626;
  width: 172px;
  height: 1204px;
}
.Chart8 {
  position: relative;
  padding-left: 138px;
  top: -1204px;
}
.DecadeBarChart9 {
  background-color: #2a2626;
  width: 171px;
  height: 1105px;
}
.Chart9 {
  position: relative;
  padding-left: 138px;
  top: -1105px;
}
.DecadeBarChart10 {
  background-color: #2a2626;
  width: 172px;
  height: 1126px;
}
.Chart10 {
  position: relative;
  padding-left: 139px;
  top: -1126px;
}
.DecadeBarChart11 {
  background-color: #2a2626;
  width: 171px;
  height: 1008px;
}
.Chart11 {
  position: relative;
  padding-left: 142px;
  top: -1008px;
}
.DecadeBarChart12 {
  background-color: #2a2626;
  width: 171px;
  height: 1128px;
}
.Chart12 {
  position: relative;
  padding-left: 138px;
  top: -1128px;
}
.DecadeBarChart13 {
  background-color: #2a2626;
  width: 30px;
  height: 20px;
}
.Chart13 {
  position: relative;
  padding-left: 81px;
  top: -20px;
}

.DecadeBarChartContainer2 {
  border: solid 0px black;
  /* background-color: darkolivegreen; */
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 749.5px;
  left: 86px;
  z-index: 10;
  width: 3204px;
  /* 2204 is the width of the graph */
  gap: 7px;
}

.AcquisitionDecadeQuantity {
  border: solid 0px black;
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  z-index: 12;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  /* left: 90px; */
  width: 3204px;
  /* gap: 165px; */
  color: #635c58;
  top: 751px;
}

.DecadeBarChartA1 {
  background-color: #2a2626;
  width: 100px;
  margin-left: 89px;
  height: 8px;
}
.ChartA1 {
  position: relative;
  top: 8px;
  padding-left: 219px;
}
.DecadeBarChartA2 {
  background-color: #2a2626;
  width: 171px;
  height: 14px;
}
.ChartA2 {
  position: relative;
  top: 14px;
  padding-left: 127px;
}
.DecadeBarChartA3 {
  background-color: #2a2626;
  width: 172px;
  height: 8px;
}
.ChartA3 {
  position: relative;
  top: 8px;
  padding-left: 165px;
}
.DecadeBarChartA4 {
  background-color: #2a2626;
  width: 171px;
  height: 8px;
}
.ChartA4 {
  position: relative;
  top: 8px;
  padding-left: 171px;
}
.DecadeBarChartA5 {
  background-color: #2a2626;
  width: 172px;
  height: 6px;
}
.ChartA5 {
  position: relative;
  padding-left: 169px;
  top: 6px;
}
.DecadeBarChartA6 {
  background-color: #2a2626;
  width: 172px;
  height: 60px;
}
.ChartA6 {
  position: relative;
  padding-left: 164px;
  top: 59px;
}
.DecadeBarChartA7 {
  background-color: #2a2626;
  width: 171px;
  height: 32px;
}
.ChartA7 {
  position: relative;
  padding-left: 161px;
  top: 32px;
}
.DecadeBarChartA8 {
  background-color: #2a2626;
  width: 172px;
  height: 90px;
}
.ChartA8 {
  position: relative;
  padding-left: 155px;
  top: 90px;
}
.DecadeBarChartA9 {
  background-color: #2a2626;
  width: 171px;
  height: 19px;
}
.ChartA9 {
  position: relative;
  padding-left: 161px;
  top: 19px;
}
.DecadeBarChartA10 {
  background-color: #2a2626;
  width: 172px;
  height: 1842px;
}
.ChartA10 {
  position: relative;
  padding-left: 151px;
  top: 1842px;
}
.DecadeBarChartA11 {
  background-color: #2a2626;
  width: 171px;
  height: 1803px;
}
.ChartA11 {
  position: relative;
  padding-left: 136px;
  top: 1803px;
}
.DecadeBarChartA12 {
  background-color: #2a2626;
  margin-left: 1px;
  width: 171px;
  height: 3378px;
}
.ChartA12 {
  position: relative;
  padding-left: 143px;
  top: 3378px;
}
.DecadeBarChartA13 {
  background-color: #2a2626;
  width: 48px;
  height: 207px;
}
.ChartA13 {
  position: relative;
  padding-left: 85px;
  top: 207px;
}

.DesignDetail {
  position: relative;
  top: 1500px;
  left: 100px;
}
