.graph {
    position: relative;
    display: flex;
    top: 1000px;
  }
  
  #body {
    z-index: 20;
    position: absolute;
    top: -100px;
    left: -70px;
  }
  
  .script {
    z-index: 20;
  }
  
  .DecadeBarChartContainer {
    border: solid 0px black;
    position: relative;
    display: flex;
    align-items: flex-end;
    top: -854px;
    left: 86px;
    width: 3204px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    gap: 7px;
  }
  
  .CreationDecadeQuantity {
    border: solid 0px black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    left: 90px;
    width: 3204px;
    gap: 165px;
    color: #635c58;
    top: 320px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartContainer [class^="DecadeBarChart1_Detail"],
  .DecadeBarChartContainer2 [class^="DecadeBarChart1_Detail"] {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .DecadeBarChartContainer [class^="DecadeBarChart1_Detail"].active,
  .DecadeBarChartContainer2 [class^="DecadeBarChart1_Detail"].active {
    opacity: 1;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart1 {
    position: relative;
    background-color: #2a2626;
    width: 189px;
    height: 48px;
    transition: 0.3s;
    left: -33px;
  }
  
  .DecadeBarChart1_Detail1 {
    width: 189px;
  }
  
  .Objet1 {
    height: 48px;
    background-color: #8d2438;
  }
  .Mobilier1 {
    height: 27px;
    background-color: #c6bca2;
  }
  .Industriel1 {
    height: 17px;
    background-color: #e7a02c;
  }
  .Vestimentaire1 {
    height: 9px;
    background-color: #1a4d8b;
  }
  .Graphique1 {
    height: 2px;
    background-color: #da3035;
  }
  .Technologie1 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture1 {
    height: 0px;
    background-color: #91a879;
  }
  
  .Chart1 {
    color: #a9a19b;
    position: relative;
    z-index: 100;
    top: -48px;
    cursor: cell;
    left: 82px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart2 {
    position: relative;
    background-color: #2a2626;
    width: 171px;
    height: 43px;
    transition: 0.3s;
    left: -65px;
  }
  
  .DecadeBarChart1_Detail2 {
    width: 171px;
  }
  
  .Objet2 {
    height: 43px;
    background-color: #8d2438;
  }
  .Mobilier2 {
    height: 17px;
    background-color: #c6bca2;
  }
  .Industriel2 {
    height: 15px;
    background-color: #e7a02c;
  }
  .Vestimentaire2 {
    height: 9px;
    background-color: #1a4d8b;
  }
  .Graphique2 {
    height: 8px;
    background-color: #da3035;
  }
  
  .Chart2 {
    color: #a9a19b;
    position: relative;
    z-index: 200;
    top: -43px;
    cursor: cell;
    left: 38px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart3 {
    position: relative;
    background-color: #2a2626;
    width: 171.5px;
    height: 241px;
    left: -106px;
  }
  
  .DecadeBarChart1_Detail3 {
    width: 171.5px;
  }
  
  .Objet3 {
    height: 241px;
    background-color: #8d2438;
  }
  .Mobilier3 {
    height: 176px;
    background-color: #c6bca2;
  }
  .Industriel3 {
    height: 66px;
    background-color: #e7a02c;
  }
  .Vestimentaire3 {
    height: 57px;
    background-color: #1a4d8b;
  }
  .Graphique3 {
    height: 56px;
    background-color: #da3035;
  }
  .Technologie3 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture3 {
    height: 0px;
    background-color: #91a879;
  }
  
  .Chart3 {
    color: #a9a19b;
    position: relative;
    z-index: 100;
    top: -241px;
    cursor: cell;
    left: 5px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart4 {
    background-color: #2a2626;
    width: 171px;
    height: 284px;
    left: -151.5px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail4 {
    width: 171px;
  }
  
  .Objet4 {
    height: 284px;
    background-color: #8d2438;
  }
  .Mobilier4 {
    height: 183px;
    background-color: #c6bca2;
  }
  .Industriel4 {
    height: 62px;
    background-color: #e7a02c;
  }
  .Vestimentaire4 {
    height: 28px;
    background-color: #1a4d8b;
  }
  .Graphique4 {
    height: 21px;
    background-color: #da3035;
  }
  .Technologie4 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture4 {
    height: 0px;
    background-color: #91a879;
  }
  
  .Chart4 {
    color: #a9a19b;
    position: relative;
    top: -284px;
    left: -40px;
    cursor: cell;
    z-index: 100;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart5 {
    background-color: #2a2626;
    width: 172px;
    height: 92px;
    left: -184px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail5 {
    width: 172px;
  }
  
  .Objet5 {
    height: 92px;
    background-color: #8d2438;
  }
  .Mobilier5 {
    height: 77px;
    background-color: #c6bca2;
  }
  .Industriel5 {
    height: 36px;
    background-color: #e7a02c;
  }
  .Vestimentaire5 {
    height: 0px;
    background-color: #1a4d8b;
  }
  .Graphique5 {
    height: 10px;
    background-color: #da3035;
  }
  .Technologie5 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture5 {
    height: 0px;
    background-color: #91a879;
  }
  
  .Chart5 {
    color: #a9a19b;
    position: relative;
    left: -78px;
    z-index: 100;
    cursor: cell;
    top: -92px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart6 {
    background-color: #2a2626;
    width: 172px;
    height: 455px;
    left: -229.5px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail6 {
    width: 172px;
  }
  
  .Objet6 {
    height: 455px;
    background-color: #8d2438;
  }
  .Mobilier6 {
    height: 363px;
    background-color: #c6bca2;
  }
  .Industriel6 {
    height: 228px;
    background-color: #e7a02c;
  }
  .Vestimentaire6 {
    height: 0px;
    background-color: #1a4d8b;
  }
  .Graphique6 {
    height: 158px;
    background-color: #da3035;
  }
  .Technologie6 {
    height: 11px;
    background-color: #83b7ca;
  }
  .Architecture6 {
    height: 0px;
    background-color: #91a879;
  }
  
  .Chart6 {
    color: #a9a19b;
    position: relative;
    z-index: 100;
    top: -92px;
    top: -455px;
    cursor: cell;
    left: -118px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart7 {
    background-color: #2a2626;
    width: 172px;
    height: 1076px;
    left: -284.5px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail7 {
    width: 172px;
  }
  
  .Objet7 {
    height: 1076px;
    background-color: #8d2438;
  }
  .Mobilier7 {
    height: 927px;
    background-color: #c6bca2;
  }
  .Industriel7 {
    height: 767px;
    background-color: #e7a02c;
  }
  .Vestimentaire7 {
    height: 616px;
    background-color: #1a4d8b;
  }
  .Graphique7 {
    height: 566px;
    background-color: #da3035;
  }
  .Technologie7 {
    height: 4px;
    background-color: #83b7ca;
  }
  .Architecture7 {
    height: 3px;
    background-color: #91a879;
  }
  
  .Chart7 {
    color: #a9a19b;
    position: relative;
    left: -166px;
    z-index: 100;
    cursor: cell;
    top: -1076px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart8 {
    background-color: #2a2626;
    width: 171px;
    height: 1204px;
    left: -341px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail8 {
    width: 171px;
  }
  
  .Objet8 {
    height: 1204px;
    background-color: #8d2438;
  }
  .Mobilier8 {
    height: 1080px;
    background-color: #c6bca2;
  }
  .Industriel8 {
    height: 944px;
    background-color: #e7a02c;
  }
  .Vestimentaire8 {
    height: 820px;
    background-color: #1a4d8b;
  }
  .Graphique8 {
    height: 817px;
    background-color: #da3035;
  }
  .Technologie8 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture8 {
    height: 10px;
    background-color: #91a879;
  }
  
  .Chart8 {
    color: #a9a19b;
    position: relative;
    left: -223px;
    z-index: 100;
    cursor: cell;
    top: -1204px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart9 {
    background-color: #2a2626;
    width: 172px;
    height: 1105px;
    left: -391px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail9 {
    width: 172px;
  }
  
  .Objet9 {
    height: 1105px;
    background-color: #8d2438;
  }
  .Mobilier9 {
    height: 901px;
    background-color: #c6bca2;
  }
  .Industriel9 {
    height: 798px;
    background-color: #e7a02c;
  }
  .Vestimentaire9 {
    height: 0px;
    background-color: #1a4d8b;
  }
  .Graphique9 {
    height: 737px;
    background-color: #da3035;
  }
  .Technologie9 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture9 {
    height: 3px;
    background-color: #91a879;
  }
  
  .Chart9 {
    color: #a9a19b;
    position: relative;
    left: -277px;
    z-index: 100;
    cursor: cell;
    top: -1105px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart10 {
    background-color: #2a2626;
    width: 171px;
    height: 1126px;
    left: -440.5px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail10 {
    width: 171px;
  }
  
  .Objet10 {
    height: 1126px;
    background-color: #8d2438;
  }
  .Mobilier10 {
    height: 904px;
    background-color: #c6bca2;
  }
  .Industriel10 {
    height: 766px;
    background-color: #e7a02c;
  }
  .Vestimentaire10 {
    height: 679px;
    background-color: #1a4d8b;
  }
  .Graphique10 {
    height: 642px;
    background-color: #da3035;
  }
  .Technologie10 {
    height: 14px;
    background-color: #83b7ca;
  }
  .Architecture10 {
    height: 4px;
    background-color: #91a879;
  }
  
  .Chart10 {
    color: #a9a19b;
    position: relative;
    left: -328px;
    z-index: 100;
    cursor: cell;
    top: -1126px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart11 {
    background-color: #2a2626;
    width: 171px;
    height: 1008px;
    left: -497.5px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail11 {
    width: 171px;
  }
  
  .Objet11 {
    height: 1008px;
    background-color: #8d2438;
  }
  .Mobilier11 {
    height: 834px;
    background-color: #c6bca2;
  }
  .Industriel11 {
    height: 666px;
    background-color: #e7a02c;
  }
  .Vestimentaire11 {
    height: 586px;
    background-color: #1a4d8b;
  }
  .Graphique11 {
    height: 569px;
    background-color: #da3035;
  }
  .Technologie11 {
    height: 11px;
    background-color: #83b7ca;
  }
  .Architecture11 {
    height: 1px;
    background-color: #91a879;
  }
  
  .Chart11 {
    color: #a9a19b;
    position: relative;
    left: -379px;
    z-index: 100;
    cursor: cell;
    top: -1008px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart12 {
    background-color: #2a2626;
    width: 170.5px;
    height: 1128px;
    left: -545.5px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail12 {
    width: 170.5px;
  }
  
  .Objet12 {
    height: 1128px;
    background-color: #8d2438;
  }
  .Mobilier12 {
    height: 969px;
    background-color: #c6bca2;
  }
  .Industriel12 {
    height: 913px;
    background-color: #e7a02c;
  }
  .Vestimentaire12 {
    height: 893px;
    background-color: #1a4d8b;
  }
  .Graphique12 {
    height: 886px;
    background-color: #da3035;
  }
  .Technologie12 {
    height: 71px;
    background-color: #83b7ca;
  }
  .Architecture12 {
    height: 15px;
    background-color: #91a879;
  }
  
  .Chart12 {
    color: #a9a19b;
    position: relative;
    left: -435px;
    z-index: 100;
    cursor: cell;
    top: -1128px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChart13 {
    background-color: #2a2626;
    width: 29px;
    height: 20px;
    left: -580px;
    position: relative;
  }
  
  .DecadeBarChart1_Detail13 {
    width: 29px;
  }
  
  .Objet13 {
    height: 20px;
    background-color: #8d2438;
  }
  .Mobilier13 {
    height: 18px;
    background-color: #c6bca2;
  }
  .Industriel13 {
    height: 0px;
    background-color: #e7a02c;
  }
  .Vestimentaire13 {
    height: 17px;
    background-color: #1a4d8b;
  }
  .Graphique13 {
    height: 0px;
    background-color: #da3035;
  }
  .Technologie13 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture13 {
    height: 7px;
    background-color: #91a879;
  }
  
  .Chart13 {
    color: #a9a19b;
    position: relative;
    z-index: 100;
    left: -545px;
    cursor: cell;
    top: -20px;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartContainer2 {
    border: solid 0px black;
    position: relative;
    display: flex;
    align-items: flex-start;
    top: -454px;
    left: 86px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    /* width: 3204px; */
    gap: 7px;
  }
  
  .AcquisitionDecadeQuantity {
    border: solid 0px black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    font-weight: 400;
    left: 90px;
    width: 3204px;
    gap: 165px;
    color: #635c58;
    top: 751px;
    z-index: 250;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartA1 {
    position: relative;
    background-color: #2a2626;
    width: 100px;
    height: 8px;
    transition: 0.3s;
    left: 69px;
  }
  
  .DecadeBarChart1_DetailA1 {
    width: 100px;
  }
  
  .A-Objet1 {
    height: 8px;
    background-color: #8d2438;
  }
  .A-Mobilier1 {
    height: 0px;
    background-color: #c6bca2;
  }
  .A-Industriel1 {
    height: 0px;
    background-color: #e7a02c;
  }
  .A-Vestimentaire1 {
    height: 0x;
    background-color: #1a4d8b;
  }
  .A-Graphique1 {
    height: 0px;
    background-color: #da3035;
  }
  .A-Technologie1 {
    height: 0px;
    background-color: #83b7ca;
  }
  .A-Architecture1 {
    height: 0px;
    background-color: #91a879;
  }
  
  .ChartA1 {
    color: #a9a19b;
    position: relative;
    top: 12px;
    left: 134px;
    z-index: 1000;
    cursor: cell;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartA2 {
    position: relative;
    background-color: #2a2626;
    width: 171px;
    height: 14px;
    transition: 0.3s;
    left: 41.8px;
  }
  
  .DecadeBarChart1_DetailA2 {
    width: 171px;
  }
  
  .A-Objet2 {
    height: 14px;
    background-color: #8d2438;
  }
  .A-Mobilier2 {
    height: 0px;
    background-color: #c6bca2;
  }
  .A-Industriel2 {
    height: 0px;
    background-color: #e7a02c;
  }
  .A-Vestimentaire2 {
    height: 0px;
    background-color: #1a4d8b;
  }
  .A-Graphique2 {
    height: 2px;
    background-color: #da3035;
  }
  .A-Technologie2 {
    height: 0px;
    background-color: #83b7ca;
  }
  .A-Architecture2 {
    height: 0px;
    background-color: #91a879;
  }
  
  .ChartA2 {
    color: #a9a19b;
    position: relative;
    top: 18px;
    left: 143px;
    cursor: cell;
    z-index: 1000;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartA3 {
    position: relative;
    background-color: #2a2626;
    width: 171.5px;
    height: 17px;
    transition: 0.3s;
    left: 15.1px;
  }
  
  .DecadeBarChart1_DetailA3 {
    width: 171.5px;
  }
  
  .A-Objet3 {
    height: 17px;
    background-color: #8d2438;
  }
  .A-Mobilier3 {
    height: 0px;
    background-color: #c6bca2;
  }
  .A-Industriel3 {
    height: 0px;
    background-color: #e7a02c;
  }
  .A-Vestimentaire3 {
    height: 1px;
    background-color: #1a4d8b;
  }
  .A-Graphique3 {
    height: 0px;
    background-color: #da3035;
  }
  .A-Technologie3 {
    height: 0px;
    background-color: #83b7ca;
  }
  .A-Architecture3 {
    height: 0px;
    background-color: #91a879;
  }
  
  .ChartA3 {
    color: #a9a19b;
    position: relative;
    top: 21px;
    left: 116px;
    cursor: cell;
    z-index: 1000;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartA4 {
    position: relative;
    background-color: #2a2626;
    width: 171.5px;
    height: 28px;
    transition: 0.3s;
    left: -17px;
  }
  
  .DecadeBarChart1_DetailA4 {
    width: 171.5px;
  }
  
  .A-Objet4 {
    height: 28px;
    background-color: #8d2438;
  }
  .A-Mobilier4 {
    height: 11px;
    background-color: #c6bca2;
  }
  .A-Industriel4 {
    height: 0px;
    background-color: #e7a02c;
  }
  .A-Vestimentaire4 {
    height: 7px;
    background-color: #1a4d8b;
  }
  .A-Graphique4 {
    height: 0px;
    background-color: #da3035;
  }
  .A-Technologie4 {
    height: 0px;
    background-color: #83b7ca;
  }
  .A-Architecture4 {
    height: 0px;
    background-color: #91a879;
  }
  
  .ChartA4 {
    color: #a9a19b;
    position: relative;
    top: 32px;
    left: 88px;
    cursor: cell;
    z-index: 1000;
  }
  
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
  .DecadeBarChartA5 {
    position: relative;
    background-color: #2a2626;
    width: 172px;
    height: 6px;
    transition: 0.3s;
    left: -37px;
  }
  
  .DecadeBarChart1_DetailA5 {
    width: 171.5px;
  }
  
  .A-Objet5 {
    height: 6px;
    background-color: #8d2438;
  }
  .A-Mobilier5 {
    height: 1px;
    background-color: #c6bca2;
  }
  .A-Industriel5 {
    height: 0px;
    background-color: #e7a02c;
  }
  .A-Vestimentaire5
